docutils==0.19
Sphinx==6.1.3
sphinx-copybutton==0.5.1
sphinx-hoverxref==1.3.0
sphinxext-opengraph==0.8.1
pydata-sphinx-theme==0.13.3
sphinx-autodoc-typehints==1.22.0
sphinx-paramlinks==0.5.4

# Temporarily added
avalanche_lib==0.3.1
wild-time-data==0.1.0
